.two-cards-bg {
  position: relative;
  z-index: 1;
  padding-bottom: 16px;
}

.two-cards-bg::before {
  content: "";
  background: url("../img/bg-img1920-grey.png") 0 0/cover no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.two-cards-flex {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 740px;
  margin: 0 auto;
}

@media (max-width: 828px) {
  .two-cards-flex__arrow {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    margin: 15px 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.two-cards-flex__cross {
  position: absolute;
  right: -45px;
  display: inline-block;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 828px) {
  .two-cards-flex__cross {
    position: relative;
    right: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 15px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 828px) {
  .two-cards-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.card__post-job {
  position: relative;
  color: #969696;
  font-style: italic;
}

.card__post-job *:not(.card__tag):not(.card__tags) {
  text-decoration: underline;
}

@media (max-width: 828px) {
  .card__post-job {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.card__input-logo {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.card__input-logo-label {
  display: block;
  border: 2px solid #969696;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__input-logo-label span,
.card__input-logo-label span::before {
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #969696;
  border-radius: 8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.card__input-logo-label span::before {
  content: "";
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.card__input-logo-label span:hover,
.card__input-logo-label span:hover:before {
  height: 3px;
}

.card__post-job-title {
  color: #969696;
  width: 200px;
  height: 40px;
  overflow: hidden;
  resize: none;
  z-index: 10;
}

.card__post-job-company-name {
  width: 200px;
  height: 35px;
  overflow: hidden;
  resize: none;
  z-index: 10;
}

.card .card-option {
  cursor: pointer;
}

.card .card-option__post-job-salary {
  position: absolute;
  top: 85px;
  z-index: 12;
}

.card .card-option__post-job-exp {
  position: absolute;
  top: 85px;
  z-index: 12;
}

.card .card-option__post-job-location {
  font-style: normal;
  position: absolute;
  top: 85px;
  z-index: 199;
}

.card .card-option__post-job-example {
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 13px;
  color: #444444;
  width: 100px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 11;
}

.card__post-job-icons {
  background-color: transparent;
  position: relative;
  z-index: 12;
}

.card__post-job-example {
  position: relative;
  font-style: normal;
}

.card__post-job-example * {
  text-decoration: none;
}

@media (max-width: 828px) {
  .card__post-job-example {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.card__post-job-example-options {
  color: #969696;
  font-weight: 700;
}

.card .card-option__post-job-example-location {
  font-style: normal;
  font-weight: 700;
}

.card__post-job-example-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card__post-job-example-icons_employer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post-job-submit,
.post-job-reset {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.post-job-submit-label {
  position: absolute;
  top: 170px;
  left: 264px;
}

.post-job-reset-label {
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  position: absolute;
  top: 4px;
  left: 260px;
}
