@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Roboto;
}

.main-cards-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
}

@media (max-width: 922px) {
  .main-cards-inner {
    max-width: 625px;
  }
}

@media (max-width: 617px) {
  .main-cards-inner {
    max-width: 320px;
  }
}

.card-main {
  margin: 15px 0 0 15px;
}

.card {
  min-width: 290px;
  min-height: 203px;
  max-height: 203px;
  background-color: #cfcfcf;
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.2), 1px -2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.2), 1px -2px 5px rgba(0, 0, 0, 0.2);
}

.card__logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: 6px;
  top: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__job-title {
  width: 196px;
  position: absolute;
  left: 54px;
  top: 8px;
  font-size: 18px;
  line-height: 18px;
  color: #000;
}

.card__company-name {
  width: 196px;
  position: absolute;
  left: 54px;
  top: 48px;
  font-size: 12px;
  line-height: 12px;
  color: #969696;
}

.card__tags {
  position: absolute;
  left: 6px;
  top: 141px;
  max-width: 240px;
}

.card__tag {
  border: 1px solid #969696;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 4px;
}

.card__tag:last-child {
  margin-bottom: 0px;
}

.card__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 186px;
}

.card .card-option__salary {
  position: absolute;
  left: 6px;
  top: 94px;
}

.card .card-option__exp {
  position: absolute;
  left: 83px;
  top: 94px;
}

.card .card-option__location {
  position: absolute;
  left: 180px;
  top: 94px;
}

.card .card-option__duration {
  position: absolute;
  left: 6px;
  top: 112px;
}

.card .card-option__workload {
  position: absolute;
  left: 83px;
  top: 112px;
}

.card .card-option__example {
  position: absolute;
  left: 180px;
  top: 112px;
}

.card .card-option__example_main-card-example {
  text-decoration: underline;
}

.card-icons {
  position: absolute;
  right: 4px;
  top: 8px;
}

.chosen-single {
  padding: 0px !important;
  margin: 0 !important;
}

.icon-scale:active {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

a:active {
  color: transparent;
}

.radio-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 98px;
  height: 40px;
  border: 2px solid #6fda44;
}

.radio-btn:hover {
  border: 4px solid #fff;
  color: #6fda44;
}

.jobs-portfolios-radio {
  margin: 12px 0 auto;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jobs-portfolios-radio_active {
  background-color: #6fda44;
  color: #fff;
}

.jobs-portfolios-radio__jobs {
  border-radius: 4px 0px 0px 4px;
}

.jobs-portfolios-radio__portfolios {
  border-radius: 0px 4px 4px 0;
}

.auth-messages {
  margin: 0 0 16px 16px;
  font-size: 18px;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 828px) {
  .auth-messages {
    margin: 0 auto 16px;
    position: relative;
    left: 4px;
    border: 2px solid #6fda44;
    height: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4px;
  }
  .auth-messages span {
    color: #6fda44;
  }
}

.card-slick {
  background-color: #fff;
  position: absolute;
  z-index: 9;
  width: 290px;
  height: 203px;
}

.card-slick img:not(.close-slick) {
  height: 203px;
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
}

.close-slick {
  position: absolute;
  top: 8px;
  right: 9px;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.animate-delete {
  width: 0px;
  height: 100%;
  background-color: tomato;
  border-radius: 4px;
  position: absolute;
  z-index: 99;
}

.error {
  border: 2px solid tomato !important;
}

.updating-card-all {
  background: #fff;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  border-radius: 4px;
}

.updating-card-this {
  font-style: italic;
}

.box-sh-none {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.success-anim-wid0 {
  position: relative;
  z-index: 999;
  width: 0%;
  height: 100%;
  background: #6fda44;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-zoom {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.hidden-pop {
  padding: 0 15px;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  bottom: 0px;
  left: 0;
}

.hid-zoom img {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  max-height: 90vh;
  -o-object-fit: contain;
     object-fit: contain;
}
